__pycache__
.idea/
ckpts
etemplates
expts
logfiles
trash
mds_appendix_annotations
LDC2021E11.serifxml.en.list
sample.train.txt
tmp.json
tmp.py
subgraph_pattern_matching/tmp
venv_subgraph-pattern-matching
workspace